extend base

block title
  | 修改登录密码 - 账户设置 - 

block head-style
  link(rel='stylesheet', href= UIHelper.static_url('/css/account.css'))    
  
block content
  include ./mod/account.nav.pug
  .section.uc-setting.uc-login-password
    .uc-title  
      h4 修改登录密码
    if result
      .uc-form-password-success
        i.fa.fa-check-circle
        | 修改成功
    else  
      //-
        textarea(style="width: 100%; height: 100px") #{JSON.stringify(UIHelper.arr2obj(errors))}
      if errors
        - var pageErrors = UIHelper.arr2obj(errors) || {}
      //-
      if errors
        .alert-danger
          include ./mod/error.pug
      form#J_password-form.form-horizontal.uc-form.secure-form(method='post')
        .form-group
          label.control-label 原密码
          .control-content
            input#J_old-pwd.form-control(class= pageErrors.oldpwd ? 'form-errors' : '', type='password', autocomplete='off', minlength='8', maxlength='20', required, name='oldpwd', placeholder='请输入原登录密码')
            if pageErrors.oldpwd
              .form-inline #{pageErrors.oldpwd}
        .form-group
          label.control-label 新密码
          .control-content
            input#J_new-pwd.form-control(class= pageErrors.newpwd ? 'form-errors' : '', type='password', minlength='8', autocomplete='off', maxlength='20', required, name='newpwd', placeholder='8-20位数字和大小写字母')
            if pageErrors.newpwd
              .form-inline #{pageErrors.newpwd}
        .form-group
          label.control-label 确认新密码
          .control-content
            input#J_renew-repwd.form-control(class= pageErrors.renewpwd ? 'form-errors' : '', type='password', autocomplete='off', minlength='8', maxlength='20', required, name='renewpwd', placeholder='重复新密码')      
            if pageErrors.renewpwd
              .form-inline #{pageErrors.renewpwd}
        .form-group.form-group-button
          .control-content
            input(type='hidden', name='_csrf', value=csrf)
            button.btn-basic(type='submit') 确认修改

block foot-script
  script.
    app.accountEditPwd.init({
      form: '#J_password-form'
    });
